:root {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --main-color: #ffffff;
  --neurtal-color: #454545;

  color-scheme: light dark;
  color: var(--main-color);
  background-color: #89c15e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  box-sizing: border-box;
  padding: 3rem;
  position: relative;
}

#app {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  border: 2px solid transparent;
}

/* scoreBoard */

.score-board {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  border: 3px solid;
  padding: 1.2rem;
  border-radius: 1.2rem;
  align-items: center;
}

.score-sheet {
  display: flex;
  gap: 1rem;
  height: 100%;
}

.score-board .title {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.score-board .title h1 {
  font-weight: 600;
  font-size: 40px;
}

.score-sheet > div {
  background-color: #ffffff;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 140px;
}

.score-sheet .score p {
  text-align: center;
  font-weight: 700;
  color: var(--neurtal-color);
  font-size: 1.125rem;
}

.score-sheet .score h1 {
  line-height: 1.2;
  font-size: 4.25rem;
  font-weight: 700;
}

/* playground */

.playground {
  position: relative;
  margin-top: 150px;
  height: 260px;
  width: fit-content;
}

.lines > div {
  height: 1rem;
  width: 300px;
  background-color: var(--neurtal-color);
  border: 2px black;
}

.line-two {
  transform-origin: top left;
  transform: rotate(60deg);
  position: relative;
}

.line-three {
  transform-origin: top right;
  transform: rotate(-60deg);
  position: relative;
  top: -1rem;
}

.key {
  background: rgb(245, 245, 245);
  background: radial-gradient(
    circle,
    rgba(245, 245, 245, 1) 31%,
    rgba(199, 199, 199, 1) 100%
  );
  box-shadow: rgba(76, 76, 76, 0.3) 0px 1px 0px,
    rgba(76, 76, 76, 0.3) 0px 8px 24px, rgba(76, 76, 76, 0.3) 0px 16px 48px;
  border-radius: 50%;
  width: 180px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-width: 1rem;
  border-style: solid;
}

.game-key {
  position: absolute;
  transition: all 100ms ease-in;
  cursor: pointer;
}

.game-key:hover {
  border-width: 0.625rem;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 31%,
    rgba(255, 255, 255, 1) 100%
  );
  box-shadow: rgba(255, 255, 255, 0.3) 0px 1px 0px,
    rgba(255, 255, 255, 0.3) 0px 8px 24px,
    rgba(255, 255, 255, 0.3) 0px 16px 48px;
}

.game-key img {
  transition: all 100ms ease-in;
}

.game-key:hover img {
  scale: 1.2;
}

.key.rock {
  border-color: #0074b6;
}

.key.scissors {
  border-color: #bd00ff;
}

.key.paper {
  border-color: #ffa943;
}

.game-key.rock {
  top: -70px;
  left: -70px;
}
.game-key.scissors {
  bottom: -70px;
  left: 70px;
}
.game-key.paper {
  top: -70px;
  right: -70px;
}

/* actions */

.actions {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 1rem;
}

.message .btn {
  background-color: var(--main-color);
  color: var(--neurtal-color);
}

.message .btn:hover {
  box-sizing: border-box;
  background-color: transparent;
  color: var(--main-color);
  border: 2px solid var(--main-color);
}

.action.btn {
  background-color: transparent;
  border: 2px solid var(--main-color);
}

.action.btn:hover {
  background-color: var(--main-color);
  color: var(--neurtal-color);
}

.rules-card {
  display: none;
  position: absolute;
  right: 2rem;
  bottom: 5rem;
  background-color: #004429;
  border-radius: 0.5rem;
  border: 0.325rem solid;
  padding: 2rem;
  width: 240px;
  animation-duration: 200ms;
  animation-name: scalein;
  transform-origin: bottom right;
}

.show-card {
  display: block;
}

@keyframes scalein {
  from {
    transform: scale(0.5) translateX(60px);
  }

  to {
    transform: scale(1) translateX(0px);
  }
}

.rules-card button {
  position: absolute;
  top: -30px;
  right: -30px;
  border-radius: 50%;
  background-color: red;
  width: 60px;
  height: 60px;
  padding: 1.2rem;
  border: 0.325rem solid;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0.5rem 0;
}

li::before {
  content: "∎";
  color: yellow;
}

.result {
  display: flex;
  align-items: center;
  gap: 6rem;
}

.result .hand {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.hand h2 {
  z-index: 10;
  font-weight: 600;
}

.result .message {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.message h1 {
  font-size: 3rem;
  line-height: 1.2;
}

.message h2 {
  font-size: 2rem;
  line-height: 1.2;
}

.message .btn {
  margin-top: 1.25rem;
}

.winner-key {
  box-shadow: 0px 0px 40px -16px rgba(0, 0, 0, 0.5), 0px 0px 0px 40px #289827,
    0px 0px 0px 70px #33a62e, 0px 0px 0px 95px #67b249;
}
